

.order-my-banner {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.order-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #282828;
  border-radius: 3px;
  border: 1px solid $black;
  h1 {
    font-family: $headers-font;
    margin: 20px;
    color: #696969;

      }

.order-direction i {
  color: green !important;
}
}


// .droplet {
//   background: white;
//   border-radius: 2% 50%;
//   height: 10px;
//   margin: 10px;
//   transition: all 2s;
//   transition-timing: ease-in-out;
//   width: 10px;

//   &:hover {
//     transform: rotate(1080deg);
//   }
// }


.droplet {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  // 15% {
  //   background: white;
  //   // color:white;
  // }
  0% {
    background: white;
    color:#d8ffd8;

  }
  /* Adding a step in the middle */
  50% {
    background: white;
  }
  100% {
    background: white;
  }
  // }
  // 50% {
  //   background: white;
  // }
  // 100% {
  //   background: white;
  // }
}

.order-order_content h4 {
 padding: 10px;
}



.order-direction h6 {
  margin: 30px;
  color: #696969;
}

.order-direction h1 {


}

.order-order_and_gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  // border-top: 1px solid #C8C8C8;
  color: #696969;
}


.order-spacer {
  border-top: 1px solid #C8C8C8;
}

.order-item_card_order {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282828;
  padding: 5px;
  margin: 5px;
  background-color: $white;
  padding: 0px;
  color: #696969;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}


.gif {
  margin-left: 30px;
}

