// Define variables for your color scheme

// For example:
// block colors

$primary: #FF6B6B;
$secondary: #F2A541;
$tertiary: #D15858;
$white: #FFFFFF;
$background: #F1F1F1;

// font colors
$white: #FFFFFF;
$black: #383D38;


