// Define variables for your color scheme

// For example:
// block colors

// $primary: #FF6B6B;
$primary: #ffcb3b;
$secondary: #F2A541;
$tertiary: #D15858;
$white: #FFFFFF;
$background: #F1F1F1;
$shadow: rgba(0, 0, 0, 0.5);
$palegrey: #F1F1F1;
$midgrey: #4e5760;

// font colors
$white: #FFFFFF;
$black: #343A40;


