// Specific CSS for your home-page
body {
  font-family: $body-font;
  color: $white;


  a {
    color: $white;
    font-family: $body-font;
  }

  h1 {
    margin-top: 60%;
    font-family: $headers-font;
    font-size: 86px;
    margin-bottom: 25%;
  }

  h2 {
    font-family: $headers-font;
    font-size: 36px;
  }

  h5 {
    font-family: $headers-font;
    font-size: 15px;
  }
}

.home-banner {
  min-height: 100vh;
}

.search-container {
  padding-top: 30px;
}

.button, input {
  width: 275px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px $shadow;
  border-style: none;
}




