// Specific CSS for your home-page
body {
  font-family: $body-font;
  color: $white;
  background-color: $primary;

  a {
    color: $white;
    font-family: $body-font;
  }

  h1 {
    margin-top: 25%;
    font-family: $headers-font;
    font-size: 86px;
  }

  h2 {
    font-family: $headers-font;
    font-size: 36px;
  }

  h5 {
    font-family: $headers-font;
    font-size: 15px;
  }
}

.search-container {
  padding: 10px;

  .input {
    padding: 10px;
  }
}

.z0 {
  z-index: -10;
}
.yellow-background {
  z-index: -2;
  position: absolute;
  height: 700px;
  width: 400px;
  top: -150px;
  left: -100px;
  transform: rotate(30deg);
  background: rgb(255,107,107);
  background: linear-gradient(0deg, rgba(255,107,107,1) 0%, rgba(253,187,45,1) 77%);
  border-radius: 20px;
}
