// Specific CSS for your home-page
body {
  font-family: $body-font;
  color: $white;

  a {
    color: $white;
    font-family: $body-font;
  }

  h5 {
    font-family: $body-font;
    font-size: 15px;
  }
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: $body-font;
    font-size: 36px;
}

.home-banner {
  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

#mygrey i {
  color: $mygrey!important;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 200px;
}

.logo-img {
  display:block;
  // margin:0 -38.885%;
  // width:70.777%;
}

i {
  font-size: 30px;
  color: $mygrey;
}

.search-form-control {
  position: relative;
}


// .search-form-control .form-control {
//   height: 3.5rem;
//   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
//   border: 1px solid $white;
//   border-radius: 20px;
// }

// .search-form-control .form-control:focus {
//   border: 1px solid $white;
//   outline: none !important;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.5);
// }



.my-banner {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 background: linear-gradient(16deg, #46bea9, #a946be, #000000);
background-size: 600% 600%;

-webkit-animation: AnimationName 36s ease infinite;
-moz-animation: AnimationName 36s ease infinite;
animation: AnimationName 36s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@keyframes AnimationName {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
}


.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
  border: 1px solid $white;
  border-radius: 20px;
  margin-top: 20px;
  // margin-bottom: 200px;
}

.my-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.fields {
  display: flex;
  flex-direction: column;
  height: 35vh;
}

#results {
  padding: 0;
  list-style-type: none;
}
.search-results {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid $white;
  line-height: 22px;
  padding: 10px 12px;
}


.search-results a:hover {
  color: #00CCBC;
  text-decoration: none;
  cursor: pointer;
}

#search_query {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  border: 1px solid $white;
  height: 60px;
  width: 80vw;
  font-size: 20px;
  &:focus {
  height: 60px;

  }
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.footer-menu a {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logger {
  position: absolute;
    top: 8px;
    right: 16px;
}

