// body, p {
//   color: black;
// }


//



// .wrapper, html, body {
//     height: 100%;
//     margin: 0;
// }
/* Importing components */
// @import url("components/sidebars.css");
// @import url("components/badge.css");
// // @import url("components/chat.css");
// @import url("components/messages.css");

// /* Importing layouts */
// @import url("layouts/slack.css");

body {
  font-family: 'Open Sans', sans-serif;
}


h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}

.slack-container {
  height: 100vh;
}


.person, .channel {
  display: flex;
  align-items: center;
}

.person span, .channel span {
  opacity: .5;
}
.channel i {
  font-size: 14px;
  margin-right: 4px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
#row1 {
    background-color: red;
}
#row2 {
    background-color: blue;
}
#row3 {
    background-color: green;
    flex:2;
    display: flex;
}
#col1 {
    background-color: yellow;
    flex: 0 0 240px;
}
#col2 {
    background-color: orange;
    flex: 1 1;
}
#col3 {
    background-color: purple;
    flex: 0 0 240px;
}

