// .bar:nth-child(odd){
//     background-color:#E8E8E8;
// }

// .bar:nth-child(even){
//     background-color:#F5F5F5;
// }

.fly-me {
    position: fixed;
    top: 1vh;
    width: 100vw;
    height: 100vh;
    width: 60%;
}

.bar {
  padding: 18px;
  color: black;
  font-weight: bold;
  margin: 10px;
      a {color: $primary;
        font-size: 150%;
        font-weight: normal!important;
      }
}

// .my_bars {
//   background-color: white;
//   color: black;
// }

.mybar-cards {
  // padding-bottom: 20px;
  background-color: white;
}
.bar_index_heading{
  color: $dark;
  padding: 25px 10px 10px 10px;
  // font-size: ;
}


.bar_index_names {
  a {
    color: #FF6A6A;
  }
}

// .mybar-cards {
//   height: 100%;
// }

// .bar {
//   background-color: red;
// }
