// .page-content {
//   width: calc(100vw - 15rem);
//   height: 100vh;
//   transition: all 0.4s;
// }

h1 {
  margin-left: 0.5vh;
}

.traffic-cards {
  height: 10vh;
  background: $midgrey;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid $dark;
  cursor: pointer;
}

.order-num {
  margin: 0 !important;
  font-family: $headers-font;
  font-size: 24px;
  color: $white;
}

.status-update-pending i {
  color: $redy;
  padding: 10px;
}
.status-update-making i {
  color: $orangy;
  padding: 10px;
}
.status-update-complete i {
  color: $greeny;
  padding: 10px;
}

.order-info {
  margin-left: 7%;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
  color: $text-muted;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

.order-name {
  margin-left: 1em;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
  color: #00998d;
  font-weight: bold;
  margin-bottom: 0;
}

.order-num-info {
  font-size: 150%;
  font-weight: bold;
  color: $dark;
}

.order-created {
  font-size: 150%;
  font-weight: normal;
}

.traffic-card-info {
  display: inline-flex;
  align-items: center;
  padding: 40px;
  width: 27vw;
  height: 76px;
}

.traffic-card-invoice {
  color: $black;
  font-family: $headers-font;
  padding: 20px 15px 20px 5px;
  flex-grow: 1;
}

.notes {
  font-family: $body-font;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFAEAE;
  color: $tertiary;
  padding: 27px;
  display: flex;
  justify-content: center;
}

.card-invoice {
  background-color: $white;
  flex-grow: 1;
}

.notes-box {
  background-color: #F9D9D9;
  // margin: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
    p {
    color: #F50707;
    text-align: center;
    margin-top: 0.5em!important;
    margin-bottom: 0.5em!important;
    }
}

.notes-order {
  background-color: $palegrey;
  padding: 20px 15px 20px 5px;
  flex-grow: 1;
  border-radius: 5px;
  // display: flex;
    p {
    color: $dark;
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
    }
    span {
      text-align: right;
    }
}

.notes-order .pull-right {
  font-family: $body-font;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  color: $text-muted;
  text-align: right;
}

.order-details {
  margin: 20px;
  font-weight: normal;
  margin-bottom: 0;
  color: $dark;
  line-height: 1.4;
  padding-right: 20px;
  padding-bottom: 100px;
}

.completed-container {
  display:flex;
  justify-content: center;
  align-items: center;
}
.completed_text {
  margin: 0px;
  padding:0px ;
  font-size: 20px;
  padding-left:5px;
}

.fa-tag {
  font-size: 23px;
  color: $tertiary;
}

.order-tag {
  font-family: $headers-font;
  font-weight: 200;
  color: $black;
  margin: 0;
  font-size: 25px;
}

.order-id {
  font-family: $headers-font;
  font-weight: 200;
  color: $black;
  margin: 0;
  font-size: 25px;
}

.order-time {
  font-family: $headers-font;
  font-weight: 200;
  color: $black;
  margin: 0;
  font-size: 25px;
}

.fa-clock {
  font-size: 23px;
  color: $tertiary;
}

.fa-comment-alt {
  font-size: 23px;
  color: $tertiary;
}

.note-alert {
  font-family: $headers-font;
  font-weight: 200;
  color: $black;
  margin: 0;
  font-size: 25px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.item-quant {
  line-height: 0.7;
  font-size: 25px;
}

.fa-glass-cheers {
  font-size: 23px;
  color: $tertiary;
}

.details {
  font-family: $headers-font;
  font-weight: 200;
  color: $black;
  margin: 0;
  font-size: 25px;
}

.status {
  background-color: $dark;
  height: 76px;
  padding: 10px 12px;
}

.traffic-light {
  background-color: $primary;
  transition: background-color 0.5s;
  border-radius: 34px;
  color: $dark;
  border-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.orange {
background-color: $secondary;
transition: background-color 0.5s;
}

.green {
  background-color: limegreen;
  transition: background-color 0.5s;
}



.fa-circle {
  color: $dark;
}

.status-text {
  font-size: 16px;
  margin: auto;
  padding: 6px;
}

