.page-content {
  width: calc(100vw - 17rem);
  height: 100vh;
  margin-left: 17rem;
  transition: all 0.4s;
}

h1 {
  margin-left: 0;
}

.traffic-cards {
  height: 120px;
  background: $black;
  box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.order-num {
  margin: 0 0 0 7% !important;
  font-family: $headers-font;
  font-size: 24px;
  color: $white;
}

.order-info {
  margin-left: 7%;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.traffic-card-info {
  display: inline-flex;
  align-items: center;
}

.traffic-card-invoice {
  color: $black;
  font-family: $headers-font;
}

.notes {
  font-family: $body-font;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFAEAE;
  color: $tertiary;
  padding: 27px;
  display: flex;
  justify-content: center;
}

.card-invoice {
  box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.2);
  height: 71.5vh;
  background-color: $white;
}

.order-details {
  margin-left: 7%;
  font-family: $body-font;
  color: $black;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}


