
<div class="bar-banner" style="background-image: url('<%= asset_path("bar_banner.jpeg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
<div class="bar-details">
  <h3><%= @bar.name %></h3>
  <p><%= @bar.address %></p>
</div>
<div class="drink-types">
  <ul class="drink-buttons" list-style="none">
    <button>Beer</button>
    <br>
    <button>Wine</button>
    <br>
    <button>Cocktails</button>
    <br>
    <button>Mocktails</button>
    <br>
    <button>Soft Drinks</button>
  </ul>


