




<div class="my_bars">
  <h2 class="bar_index_heading">Your Bars</h2>
  <%  @bars.each do |bar| %>
  <div class="bar">
  <%= link_to bar.name, my_bar_bars_path(bar.id)%>
 <%= bar.address%>
  </div>
  <% end %>
</div>


