<h1 style="color:black">My Bar</h1>

<%= @bar.name %>
<p style="color:black"><% @bar.orders.each do |order| %></p>
  £13: table 4
<% end %>


    <div class="vwrapper">
        <div id="row1">
            <h1 style="color:black">My Bar</h1>
        </div>
        <div id="row2">
            <%= @bar.name %>
<p style="color:black"><% @bar.orders.each do |order| %></p>
  £13 table 4
<% end %>
        </div>
        <div id="row3">
            <div id="col1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse in ut cum eveniet odio vero, provident amet quod nihil facilis, consequuntur pariatur doloremque repellat quia nesciunt veritatis totam rerum, ducimus.
            </div>
            <div id="col2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet maiores quae esse autem voluptatem dolor sit facere ab fuga modi possimus magnam doloremque ex nesciunt, laboriosam laborum, cupiditate aspernatur perspiciatis.
            </div>
        </div>
    </div>



<% Order.where(bar_id: current_user.bar.id).each do |order| %>
<div class="order">
<%= order.id %>
<%= order.creation_time %>
</div>
<% end %>




