<div class="container">

  <div class="centered">
    <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80" alt="">
  </div>

  <div>
    <h1>@bar.name</h1>
  </div>



    <p>THIS IS WHERE THE INDEX OF THE MENU ITEMS FOR A SPECIFIC BAR GOES</p>

  <div>

    <h1> Menu</h1>
    <ul>
      <% @menu_item.each do |menuitem| %>
      <li>
        <%= menuitem.name %>
        <%= menuitem.price %>
        <% end %>
      </li>
    </ul>
  </div>
  <div></div>



    <!-- JAVASCRIPT DYNAMIC MODULAR STICKY BASKET ITEM NEW -->

    <!-- EVENT LISTENER: DISPLAYING THE STICKY BASKET_ITEM ONLY ON CLICK -->


        <div class="hidden" id="your_id">
            <%= render "shared/sticky_basket_item"%>
        </div>
</div>
