<div class="bar-show">
  <div class="bar-banner" style="background-image: url('<%= asset_path("bar-banner.jpeg") %>'); background-repeat: no-repeat; background-size: cover; background-position: left;"></div>



  <div>
    <h1>@bar.name</h1>
  </div>



    <p>THIS IS WHERE THE INDEX OF THE MENU ITEMS FOR A SPECIFIC BAR GOES</p>

  <div>

    <h1>Menu</h1>
    <ul>
      <% @bar.menu_items.each do |menuitem| %>
      <li>
        <div class= "add_to_basket">
        <%= menuitem.name %>
        <%= menuitem.price %>

        <button class= "add_to_basket"> Add to Basket</button>
        </div>
        <% end %>
      </li>
    </ul>
  </div>


    <!-- JAVASCRIPT DYNAMIC MODULAR STICKY BASKET ITEM NEW -->

    <!-- EVENT LISTENER: DISPLAYING THE STICKY BASKET_ITEM ONLY ON CLICK -->


        <div class="hidden" id="your_id">
            <%= render "shared/sticky_basket_item"%>
        </div>
</div>
