<div class="container home-banner" style="background-image: url('<%= asset_path("barly_gb.svg") %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="title" id= "centered">
    <h1>Barly</h1>
  </div>
  <div class="landing-question" id="centered">
    <h2>What bar are you at?</h2>
  </div>
  <div class="search-container" id="centered">
    <input type="text" placeholder="e.g. The Kings Arms">
    <button type="button"><i class="fa fa-search"></i></button>
  </div>
  <div class= "centered">
    <p>THIS PAGE IS AN INDEX OF THE BARS FOR TESTING REASONS. TO BE CHNGED.</p>
  </div>
  <% if Bar.all.any? %>
    <% Bar.all.each do |bar| %>
      <div class="centered">
        <%=link_to bar.name, bar_menu_items_path(bar) %>
      </div>
    <% end  %>
  <% else %>
    <div class= "centered">
      <p> NO BAR ADDED YET! </p>
    </div>
  <% end %>
</div>

<div id="map" style="width: 80%; margin:0px auto; height: 500px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
