<div class="container">

        <div class="title" id= "centered">
          <h1>Barly</h1>
        </div>

        <div class="landing-question" id="centered">
          <h2>What bar are you at?</h2>
        </div>

        <div class="search-container" id="centered">
          <input type="text" placeholder="e.g. The Kings Arms">
          <button type="button"><i class="fa fa-search"></i></button>
        </div>

        <div class= "centered">
          <p>THIS PAGE IS AN INDEX OF THE BARS FOR TESTING REASONS. TO BE CHNGED.</p>
        </div>

        <% if Bar.any? %>
          <% Bar.all.each do |bar| %>
            <div class="centered">
              <%=link_to bar.name, bar_path(bar) %>
            </div>
          <% end  %>

        <% else %>
          <div class= "centered">
            <p> NO BAR ADDED YET! </p>
          </div>
        <% end %>

</div>
