.box_basket {
  background-color: #F1F1F1;
  height: 100vh;
  max-width: 100vw;
 }

 .subtotal {
  font-family: $headers-font;
  font-size: 18px;
  color: $black;
  border-top: 1px solid #e8ebeb;
  border-bottom: 1px solid #e8ebeb;
  background-color: white;
 }

  .empty_basket{
    color: $primary;


  }
  .empty_basket_div {
    align-items: center;
    justify: center;
  }

 .items-total {
  font-family: $headers-font;
  font-size: 18px;
  color: $black;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
 }

.sub {
  margin: 20px 14px 0;
  display: flex;
  justify-content: space-between;
}

.service {
  margin: 0px 14px 20px;
  display: flex;
  justify-content: space-between;
}

.order-container {
  max-height: 100vh;
}

.order-card::-webkit-scrollbar { width: 0 !important }

.order-card {
  margin: 0 5px;
  font-family: $headers-font;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: $black;
  background-color: $white;
  padding: 20px;
  font-size: 18px;
  width: 200px;
  border-style: solid;
  border-color: #e8ebeb;
  border-width: 1px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  height: 129px;
}



.basket-header {
  display: flex;
  justify-content: space-between;
  font-family: $headers-font;
  color: $black;
  font-size: 29px;
  padding: 24px 16px;
  margin: 0 0 10px 0;
  background-color: white;
  border-bottom: 1px solid #e8ebeb;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.order-footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-top-style: solid;
  border-top-color: #e8ebeb;
  border-top-width: 1px;
  box-shadow: 4px 0 4px rgba(0,0,0,0.2);
  background-color: white;
}

.order {
  padding: 5px 0;
  margin: 5% 5%;
  width: 90%;
  color: $white;
  background-color: $primary;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
    a {
        font-family: $headers-font;
    }
}

.back {
  padding: 5px 0;
  margin: 2% 7% 12% 7.4%;
  width: 85%;
  background-color: $white;
  color: #FF6B6B;
  border-radius: 5px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary;
    a {
      font-family: $headers-font;
      color: #FF6B6B !important;
    }
}

label {
  color: $black;
  font-size: 18px;
}

.fa-times {
  color: $primary;
}

.item_box{
  position: absolute;
  right: 200px;
 }

.total_price {
  position: absolute;
  top: 100px;
  left: 290px;
}

.forms {
  padding: 5px 10px 0 10px;
}
#order-navbar {
  width: 100vw;
  overflow: scroll;
  padding-bottom: 10px;
}
.scroller {
  margin-left: 4%;
  display: flex;
  flex-direction: row;
}
