.shrink {
  opacity: 1 !important;
  transition: opacity 1s;
}

.layer {
  opacity: 0.5;
}

.adding-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $headers-font;
  font-size: 30px;
  padding: 0 10px 10px;
  border-bottom-style: solid;
  border-bottom-color: #e8ebeb;
  border-bottom-width: 1px;
}

i {
  font-size: 23px;
  color: $primary;
}

#price {
  color: $shadow;
  font-size: 23px;
  padding-top: 3px;
}


.stickycool {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  bottom: 0;
  background-color: $white;
  color: $black;
  opacity: 0;
}

.btn_basket {

}


.mhresp {
  height: calc(100vh - 66px);
  overflow: scroll;
  background-color: #F1F1F1;
}

.hidden {
  display: none;
}



.style_basket_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $secondary;
  color: $primary;
  border-radius: 10px;
  & h2 {
    font-size: 15px;
  }
}

.sub_div_basket_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

