.card-product {
  overflow: hidden;
  height: 120px;
  background: $white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;

  border-radius: 5px;
  max-width: 100vw;
  height: 10vh;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-family: $body-font;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;

  color: $black;
}

.card-product p {
  font-family: $body-font;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  color: $text-muted;
  text-align: right;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

.color_button {
  background-color: $secondary;
}

h1 {
  margin-top: 10px;
  color: $black;
  font-size: 30px;
  font-family: $headers-font;
  margin-left: 4%;
}

.back-menu {
  padding: 0;
  margin: 0;
  border-style: none;
}

