.direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_card_order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  background-color: $white;
}


.order_and_gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.gif {
  margin-left: 30px;
}
